/* body {
  font-size: 62.5%;
} */
main {
  min-height: 80vh;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
h3{
  padding: 1rem;
}

.rating {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

.rating-text{
  margin:.1rem;
  font-size: 1rem;
}

